In [3]:
# Dependencies
import sqlalchemy as db
import pandas as pd
from sqlalchemy import create_engine
# Create the engine
engine = create_engine("sqlite:///mental_health.db", echo=False)
connection = engine.connect()
metadata = db.MetaData()
# Create the tables
questions = db.Table('pre_encoded_questions', metadata, autoload=True, autoload_with=engine)
survey = db.Table('pre_encoded', metadata, autoload=True, autoload_with=engine)

In [11]:
# Attmept at Automatic Join Method
# query = db.select([questions.columns.Questions, survey.columns.index])
# results = connection.execute(query).fetchall()
# df = pd.DataFrame(results)
# df.columns = results[0].keys()
# df.head(5)
# # automatic join

In [25]:
# Join 'pre_encoded_survey' and 'pre_encoded_questions' on index using the manual method
query = db.select([questions, survey])
query = query.select_from(questions.join(survey, questions.columns.index == survey.columns.index))

# Display the results
results = connection.execute(query).fetchall()
joined_df = pd.DataFrame(results)
joined_df.columns = results[0].keys()
joined_df.head(5)

,index,Question,index,0,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,0,Does your employer provide mental health benef...,0,No,Yes,Yes,Somewhat easy,No,No,Yes,...,Yes,Yes,Yes,Yes,1,Rarely,Sometimes,Male,United States of America,United States of America
1,1,Do you know the options for mental health care...,1,Yes,Yes,No,Neither easy nor difficult,Yes,Maybe,No,...,Yes,Yes,Yes,Yes,1,Sometimes,Sometimes,Female,United States of America,United States of America
2,2,Does your employer offer resources to learn mo...,2,Yes,I am not sure,Yes,Somewhat easy,Yes,Yes,No,...,No,No,Yes,No,1,Not applicable to me,Often,Male,United Kingdom,United Kingdom
3,3,If a mental health issue prompted you to reque...,3,I don't know,No,No,Somewhat easy,No,No,Yes,...,No,No,No,No,0,Not applicable to me,Not applicable to me,Male,United States of America,United States of America
4,4,Do you think that discussing a mental health d...,4,Yes,Yes,Yes,Very easy,No,No,I don't know,...,Yes,Yes,Yes,Yes,1,Sometimes,Often,Female,United States of America,United States of America

,index,index,0,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,0,0,No,Yes,Yes,Somewhat easy,No,No,Yes,No,...,Yes,Yes,Yes,Yes,1,Rarely,Sometimes,Male,United States of America,United States of America
1,1,1,Yes,Yes,No,Neither easy nor difficult,Yes,Maybe,No,No,...,Yes,Yes,Yes,Yes,1,Sometimes,Sometimes,Female,United States of America,United States of America
2,2,2,Yes,I am not sure,Yes,Somewhat easy,Yes,Yes,No,Yes,...,No,No,Yes,No,1,Not applicable to me,Often,Male,United Kingdom,United Kingdom
3,3,3,I don't know,No,No,Somewhat easy,No,No,Yes,No,...,No,No,No,No,0,Not applicable to me,Not applicable to me,Male,United States of America,United States of America
4,4,4,Yes,Yes,Yes,Very easy,No,No,I don't know,No,...,Yes,Yes,Yes,Yes,1,Sometimes,Often,Female,United States of America,United States of America